* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    align-items:center;
    justify-content: center;
    background: rgb(128,122,221);
background: linear-gradient(90deg, rgba(128,122,221,1) 0%, rgba(34,100,159,1) 53%, rgba(99,255,0,1) 100%);
  
}
.start-game a{
    text-decoration:none ;
    color:black;
    padding:5px;
}
.round{
    font-weight:bold;
}
.game-round{
    font-weight:bold;
    background-color: chartreuse;
}
.header{
    width:600px;
    display:flex;
    justify-content: space-between;
}
.game-explanation{
    margin:2rem 0;
    background-color: chartreuse;
    padding:5px;
    font-weight: 700;
}
.player-1,.player-2,.player-3,.player-4{
    font-size:24px;
    font-weight: 400;
}
.score-board{
    background-color: azure;
    margin:2rem 0;
    padding-left: 1rem;
}
.submit{
    margin-top:1rem;
}
.scores{
    margin-left:2rem;
}